<div  class="d-flex justify-content-end">
  <% case order.aasm_state %>
  <% when "order_placed" %>
    <%= link_to  "取消訂單", cancel_admin_order_path(order), method: "post", class: "btn btn-sm btn-secondary ml-3" %>
  <% when "paid" %>
    <%= link_to  "取消訂單", cancel_admin_order_path(order), method: "post", class: "btn btn-sm btn-secondary ml-3" %>
    <%= link_to  "出貨", ship_admin_order_path(order), method: "post", class: "btn btn-sm btn-secondary ml-3" %>
  <% when "shipping" %>
    <%= link_to  "設為已到貨", shipped_admin_order_path(order), method: "post", class: "btn btn-sm btn-secondary ml-3" %>
  <% when "shipped" %>
    <%= link_to  "設為已退貨", return_admin_order_path(order), method: "post", class: "btn btn-sm btn-secondary ml-3" %>
  <% when "order-canceled" %>
    <button class="btn btn-sm btn-secondary ml-3" disabled> 訂單已取消 </button>
  <% when "good_returned" %>
    <button class="btn btn-sm btn-secondary ml-3" disabled> 已退貨 </button>

  <% end %>
</div>
