    <table class="table">
      <thead>
        <tr>
        <th>商品明細</th>
        <th>單價</th>
        <th>購買數量</th>
        <th>小記</th>
        </tr>
      </thead>

      <tbody>
        <% order.product_lists.each do |list| %>
          <tr>
            <td><%= list.product_name %></td>
            <td><%= list.product_price %></td>
            <td><%= list.quantity %></td>
            <td><%= list.product_price * list.quantity %></td>
        <% end %>
          </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-end">
      <h4>總計 <%= order.total%> NTD</h4>
    </div>
  <hr>
  <h2>寄送資訊</h2>
  <table class="table table-striped">
    <thead>
      <th>#</th>
      <th>姓名</th>
      <th>地址</th>
    </thead>

    <tbody>
      <tr>
        <th>訂購人</th>
        <td><%= order.billing_name %></td>
        <td><%= order.billing_address %></td>
      </tr>

      <tr>
        <th>收件人</th>
        <td><%= order.ship_name%></td>
        <td><%= order.ship_name%></td>
      </tr>
    </tbody>
  </table>
