
<div class="row">
  <div class="col-4">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.thumb.url, class: "thumbnail" ) %>
    <% else %>
      <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail" ) %>
    <% end %>
  </div>

  <div class="col-8 position-realtive">
    <h1><%= @product.title %></h1>
    <div>
      <%= @product.description %>
    </div>
    <h3>庫存
      <%= @product.quantity %>
    </h3>
    <h3 class="position-absolute" style="bottom: 0px">單價
      <%= @product.price %>
    </h3>
  </div>
</div>
