<h1>商品列表</h1>
<table class="table">
  <thead>
    <tr>
      <th>品名</th>
      <th>商品圖片</th>
      <th>商品敘述</th>
      <th>庫存</th>
      <th>價格</th>
      <th>選項</th>
      <th>上架時間</th>
    </tr>
  </thead>

  <% @products.each do |p| %>
    <tr>
      <td><%= link_to p.title, product_path(p)%></td>
      <td>
        <%= link_to product_path(p) do %>
          <% if p.image.present? %>
            <%= image_tag(p.image.thumb.url, class: "thumbnail" ) %>
          <% else %>
            <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail" ) %>
          <% end %>
        <% end %></td>
      <td><%= p.description %></td>
      <td><%= p.quantity %></td>
      <td><%= p.price %></td>
      <td>
        <% if p.quantity > 0 %>
          <%= link_to  "加入購物車",  add_to_cart_product_path(p), method: 'post', class:'btn btn-outline-secondary' %>
        <% else %>
          <div class="badge bg-danger text-wrap fs-5" style="color: #fff; width: 7rem;">已銷售一空！請耐心等待補貨</div>
        <% end %>
      </td>
      <td><%= p.created_at %></td>
    </tr>
  <% end %>
</table>
