<h1>商品列表</h1>
<table class="table">
  <thead>
    <tr>
      <th>品名</th>
      <th>商品圖片</th>
      <th>商品敘述</th>
      <th>庫存</th>
      <th>價格</th>
      <th>選項</th>
      <th>上架時間</th>
    </tr>
  </thead>

  <% @products.each do |p| %>
    <tr>
      <td><%= link_to p.title, product_path(p)%></td>
      <td><img class="w-50" src="<%= p.image.thumb %>" alt=""></td>
      <td><%= p.description %></td>
      <td><%= p.quantity %></td>
      <td><%= p.price %></td>
      <td>
      <button class="btn btn-outline-secondary">加入購物車</button>
      </td>
      <td><%= p.created_at %></td>
    </tr>
  <% end %>
</table>
